
*.xml
.idea/WindTurbineDesign.iml
WTInducedCalcs.asv
main.asv
lib/~$ValidationData.xlsx
lib/ValidationData.xlsx
lib/ValidationData.xlsx
*.asv
*.asv
WTSingleVelocity.asv
WTSingleVelocity.asv
cad/~$naca0012_points.xlsx
